body {
    margin: 0;
    background-color: darkkhaki;
    background-image: url('basket2.jpg');
    background-size: cover;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
}

.cont-display{
    display: flex;
    justify-content: space-around;
}

h3{
  font-size: 40px;
  font-family: Verdana, sans-sans-serif;
  color: white;
}
.display{
    width: 155px;
    height: 120px;
    background-color: #080001;
    border-radius: 5px;
    font-family: 'LCD14';
    font-weight: normal;
    font-style: normal;
    font-size: 90px;
    color: #F94F6D;
    text-align: center;
}

.cont-buttons{
    display: flex;
    justify-content: space-around;
}

.cont{
    display: flex;
    justify-content: space-around;
    width: 155px;
}

button{
    margin-top: 26px;
    width:45px;
    height: 45px;
    font-family: 'LCD14';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}



.restart{
  display: flex;
  justify-content: center;
}

#newgame{
  font-family: Verdana;
  width:80px;
  height: 60px;
}
